<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to relative url templates</h1>
    <!-- <a href="basic_app/other.html">THE OTHER PAGE</a>  or as below -->
      <a href="{% url 'basic_app:other' %}">Link to other.html</a>
    <!-- in above app_name as written in template taggging in urls.py file of app :html page where u want to land   -->
    <!-- above way is for django 2.O and above -->
    <a href="{% url 'admin:index' %}">Link to Admin</a>
    <a href="{% url 'index' %}">Link to index</a>

  </body>
</html>
